[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moneyforward-selenium = {ref = "0.4.0", git = "git+https://github.com/kefi550/moneyforward_selenium"}
binance-summary = {git = "https://github.com/kefi550/binance_summary.git", ref="0.1.1"}
pymysql = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3"
